@use "variables" as *;

.hero{
 height: calc( 100% - 80px);

 & h1{
  font-family: mulish, sans-serif;
  font-style: 600;
  font-size: 6rem;
  letter-spacing: -3%;
  text-wrap: balance;
 }

 &__content > * + *{
   margin-top: 2em;
 }


}