header{
 width: 100%;
 display: flex;
 flex-direction: row;
 justify-content: space-between;
}

.logo{
 color: white;
 font-size: 2rem;
 font-weight: 900;
 & span{
  font-weight: 100;
 }
}

.menu{
 display: flex;
 flex-direction: row;
 gap: 1em;
 &__link{
  color: white;
 }

}