/// Vars
/// -----

$clr-ui-1:      hsla(78, 8%, 70%, 1);
$clr-ui-3:      hsla(84, 14%, 93%, 1);
$clr-ui-2:      hsla(79, 57%, 95%, 1);
$color-primary:   hsla(202, 52%, 17%, 1);
$clr-secondary: hsla(204, 42%, 27%, 1);
$is-active:     #3772ff;