/// Vars
/// -----

$clr-ui-1:      hsla(78, 8%, 70%, 1);

$clr-ui-3:      hsl(203, 100%, 96%);

$clr-ui-2:      hsla(79, 57%, 95%, 1);

$color-primary:   hsl(216, 84%, 47%);
$color-secondary: hsl(32, 100%, 49%);

$is-active:     #3772ff;


